In [1]:
'''Context
The CalCOFI data set represents the longest (1949-present) and most complete (more than 50,000 sampling stations) time series of
oceanographic and larval fish data in the world. It includes abundance data on the larvae of over 250 species of fish; larval length
frequency data and egg abundance data on key commercial species; and oceanographic and plankton data. The physical, chemical, and
biological data collected at regular time and space intervals quickly became valuable for documenting climatic cycles in the California
Current and a range of biological responses to them. CalCOFI research drew world attention to the biological response to the dramatic
Pacific-warming event in 1957-58 and introduced the term "El Niño" into the scientific literature.
The California Cooperative Oceanic Fisheries Investigations (CalCOFI) are a unique partnership of the California Department of Fish &
Wildlife, NOAA Fisheries Service and Scripps Institution of Oceanography. The organization was formed in 1949 to study the ecological
aspects of the sardine population collapse off California. Today our focus has shifted to the study of the marine environment off the coast
of California, the management of its living resources, and monitoring the indicators of El Nino and climate change. CalCOFI conducts
quarterly cruises off southern & central California, collecting a suite of hydrographic and biological data on station and underway. Data
collected at depths down to 500 m include: temperature, salinity, oxygen, phosphate, silicate, nitrate and nitrite, chlorophyll,
transmissometer, PAR, C14 primary productivity, phytoplankton biodiversity, zooplankton biomass, and zooplankton biodiversity.'''

'Context\nThe CalCOFI data set represents the longest (1949-present) and most complete (more than 50,000 sampling stations) time series of\noceanographic and larval fish data in the world. It includes abundance data on the larvae of over 250 species of fish; larval length\nfrequency data and egg abundance data on key commercial species; and oceanographic and plankton data. The physical, chemical, and\nbiological data collected at regular time and space intervals quickly became valuable for documenting climatic cycles in the California\nCurrent and a range of biological responses to them. CalCOFI research drew world attention to the biological response to the dramatic\nPacific-warming event in 1957-58 and introduced the term "El Niño" into the scientific literature.\nThe California Cooperative Oceanic Fisheries Investigations (CalCOFI) are a unique partnership of the California Department of Fish &\nWildlife, NOAA Fisheries Service and Scripps Institution of Oceanography. The organization was formed in 1949 to study the ecological\naspects of the sardine population collapse off California. Today our focus has shifted to the study of the marine environment off the coast\nof California, the management of its living resources, and monitoring the indicators of El Nino and climate change. CalCOFI conducts\nquarterly cruises off southern & central California, collecting a suite of hydrographic and biological data on station and underway. Data\ncollected at depths down to 500 m include: temperature, salinity, oxygen, phosphate, silicate, nitrate and nitrite, chlorophyll,\ntransmissometer, PAR, C14 primary productivity, phytoplankton biodiversity, zooplankton biomass, and zooplankton biodiversity.'

In [4]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sna
%matplotlib inline

In [5]:
raw_df = pd.read_csv(r"C:\Users\DELL\Downloads\archive (3)\bottle.csv")

C:\Users\DELL\AppData\Local\Temp\ipykernel_18764\1803440460.py:1: DtypeWarning: Columns (47,73) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df = pd.read_csv(r"C:\Users\DELL\Downloads\archive (3)\bottle.csv")

In [6]:
raw_df

,Cst_Cnt,Btl_Cnt,Sta_ID,Depth_ID,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,R_PHAEO,R_PRES,R_SAMP,DIC1,DIC2,TA1,TA2,pH2,pH1,DIC Quality Comment
0,1,1,054.0 056.0,19-4903CR-HY-060-0930-05400560-0000A-3,0,10.500,33.4400,NaN,25.64900,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,054.0 056.0,19-4903CR-HY-060-0930-05400560-0008A-3,8,10.460,33.4400,NaN,25.65600,NaN,...,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,054.0 056.0,19-4903CR-HY-060-0930-05400560-0010A-7,10,10.460,33.4370,NaN,25.65400,NaN,...,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,054.0 056.0,19-4903CR-HY-060-0930-05400560-0019A-3,19,10.450,33.4200,NaN,25.64300,NaN,...,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,054.0 056.0,19-4903CR-HY-060-0930-05400560-0020A-7,20,10.450,33.4210,NaN,25.64300,NaN,...,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864858,34404,864859,093.4 026.4,20-1611SR-MX-310-2239-09340264-0000A-7,0,18.744,33.4083,5.805,23.87055,108.74,...,0.18,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864859,34404,864860,093.4 026.4,20-1611SR-MX-310-2239-09340264-0002A-3,2,18.744,33.4083,5.805,23.87072,108.74,...,0.18,2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864860,34404,864861,093.4 026.4,20-1611SR-MX-310-2239-09340264-0005A-3,5,18.692,33.4150,5.796,23.88911,108.46,...,0.18,5,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864861,34404,864862,093.4 026.4,20-1611SR-MX-310-2239-09340264-0010A-3,10,18.161,33.4062,5.816,24.01426,107.74,...,0.31,10,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864862,34404,864863,093.4 026.4,20-1611SR-MX-310-2239-09340264-0015A-3,15,17.533,33.3880,5.774,24.15297,105.66,...,0.61,15,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 74 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cst_Cnt              864863 non-null  int64
 1   Btl_Cnt              864863 non-null  int64
 2   Sta_ID               864863 non-null  object
 3   Depth_ID             864863 non-null  object
 4   Depthm               864863 non-null  int64
 5   T_degC               853900 non-null  float64
 6   Salnty               817509 non-null  float64
 7   O2ml_L               696201 non-null  float64
 8   STheta               812174 non-null  float64
 9   O2Sat                661274 non-null  float64
 10  Oxy_µmol/Kg          661268 non-null  float64
 11  BtlNum               118667 non-null  float64
 12  RecInd               864863 non-null  int64
 13  T_prec               853900 non-null  float64
 14  T_qual               23127 non-null   float64
 15  S_prec               817509 non-null  float64
 16  S_qual               74914 non-null   float64
 17  P_qual               673755 non-null  float64
 18  O_qual               184676 non-null  float64
 19  SThtaq               65823 non-null   float64
 20  O2Satq               217797 non-null  float64
 21  ChlorA               225272 non-null  float64
 22  Chlqua               639166 non-null  float64
 23  Phaeop               225271 non-null  float64
 24  Phaqua               639170 non-null  float64
 25  PO4uM                413317 non-null  float64
 26  PO4q                 451786 non-null  float64
 27  SiO3uM               354091 non-null  float64
 28  SiO3qu               510866 non-null  float64
 29  NO2uM                337576 non-null  float64
 30  NO2q                 529474 non-null  float64
 31  NO3uM                337403 non-null  float64
 32  NO3q                 529933 non-null  float64
 33  NH3uM                64962 non-null   float64
 34  NH3q                 808299 non-null  float64
 35  C14As1               14432 non-null   float64
 36  C14A1p               12760 non-null   float64
 37  C14A1q               848605 non-null  float64
 38  C14As2               14414 non-null   float64
 39  C14A2p               12742 non-null   float64
 40  C14A2q               848623 non-null  float64
 41  DarkAs               22649 non-null   float64
 42  DarkAp               20457 non-null   float64
 43  DarkAq               840440 non-null  float64
 44  MeanAs               22650 non-null   float64
 45  MeanAp               20457 non-null   float64
 46  MeanAq               840439 non-null  float64
 47  IncTim               14437 non-null   object
 48  LightP               18651 non-null   float64
 49  R_Depth              864863 non-null  float64
 50  R_TEMP               853900 non-null  float64
 51  R_POTEMP             818816 non-null  float64
 52  R_SALINITY           817509 non-null  float64
 53  R_SIGMA              812007 non-null  float64
 54  R_SVA                812092 non-null  float64
 55  R_DYNHT              818206 non-null  float64
 56  R_O2                 696201 non-null  float64
 57  R_O2Sat              666448 non-null  float64
 58  R_SIO3               354099 non-null  float64
 59  R_PO4                413325 non-null  float64
 60  R_NO3                337411 non-null  float64
 61  R_NO2                337584 non-null  float64
 62  R_NH4                64982 non-null   float64
 63  R_CHLA               225276 non-null  float64
 64  R_PHAEO              225275 non-null  float64
 65  R_PRES               864863 non-null  int64
 66  R_SAMP               122006 non-null  float64
 67  DIC1                 1999 non-null    float64
 68  DIC2                 224 non-null     float64
 69  TA1                  2084 non-null    float64
 70  TA2                  234 non-null     float64
 71  pH2                  10 non-null      float64
 72  pH1                  84 non-null      float64
 73  DIC Quality Comment  55 non-null      object
dtypes: float64(65), int64(5), object(4)
memory usage: 488.3+ MB

In [8]:
raw_df2 = pd.read_csv(r"C:\Users\DELL\Downloads\archive (3)\cast.csv")

C:\Users\DELL\AppData\Local\Temp\ipykernel_18764\4235715900.py:1: DtypeWarning: Columns (40,41,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df2 = pd.read_csv(r"C:\Users\DELL\Downloads\archive (3)\cast.csv")

In [9]:
raw_df2

,Cst_Cnt,Cruise_ID,Cruise,Cruz_Sta,DbSta_ID,Cast_ID,Sta_ID,Quarter,Sta_Code,Distance,...,Wave_Prd,Wind_Dir,Wind_Spd,Barometer,Dry_T,Wet_T,Wea,Cloud_Typ,Cloud_Amt,Visibility
0,1,1949-03-01-C-31CR,194903,19490305400560,5400560,19-4903CR-HY-060-0930-05400560,054.0 056.0,1,NST,NaN,...,NaN,23.0,18.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
1,2,1949-03-01-C-31CR,194903,19490305200750,5200750,19-4903CR-HY-060-2112-05200750,052.0 075.0,1,NST,NaN,...,NaN,16.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN
2,3,1949-03-01-C-31CR,194903,19490305100850,5100850,19-4903CR-HY-061-0354-05100850,051.0 085.0,1,NST,NaN,...,NaN,23.0,5.0,NaN,NaN,NaN,6.0,NaN,NaN,NaN
3,4,1949-03-01-C-31CR,194903,19490305000950,5000950,19-4903CR-HY-061-1042-05000950,050.0 095.0,1,NST,NaN,...,NaN,18.0,8.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
4,5,1949-03-01-C-31CR,194903,19490305001040,5001040,19-4903CR-HY-061-1706-05001040,050.0 104.0,1,NST,NaN,...,NaN,27.0,13.0,NaN,NaN,NaN,7.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34399,34400,2016-11-06-C-33SR,201611,20161109330900,9330900,20-1611SR-MX-313-03:14-09330900,093.3 090.0,4,ST,-254.345,...,NaN,34.0,16.0,1017.5,17.1,16.4,NaN,NaN,NaN,NaN
34400,34401,2016-11-06-C-33SR,201611,20161109331000,9331000,20-1611SR-MX-313-08:51-09331000,093.3 100.0,4,ST,-294.297,...,NaN,36.0,14.0,1019.6,18.0,16.2,NaN,NaN,NaN,NaN
34401,34402,2016-11-06-C-33SR,201611,20161109331100,9331100,20-1611SR-MX-313-14:48-09331100,093.3 110.0,4,ST,-334.157,...,15.0,35.0,16.0,1018.6,19.0,17.0,1.0,6.0,6.0,4.0
34402,34403,2016-11-06-C-33SR,201611,20161109331200,9331200,20-1611SR-MX-313-20:53-09331200,093.3 120.0,4,ST,-373.979,...,10.0,36.0,16.0,1016.3,19.5,17.1,1.0,3.0,7.0,5.0
34403,34404,2016-11-06-C-33SR,201611,20161109340264,9340264,20-1611SR-MX-310-22:39-09340264,093.4 026.4,4,ST,-1.558,...,8.0,25.0,2.0,1015.4,20.0,17.5,1.0,2.0,2.0,6.0

In [10]:
raw_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34404 entries, 0 to 34403
Data columns (total 61 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cst_Cnt      34404 non-null  int64
 1   Cruise_ID    34404 non-null  object
 2   Cruise       34404 non-null  int64
 3   Cruz_Sta     34404 non-null  int64
 4   DbSta_ID     34404 non-null  int64
 5   Cast_ID      34404 non-null  object
 6   Sta_ID       34404 non-null  object
 7   Quarter      34404 non-null  int64
 8   Sta_Code     34404 non-null  object
 9   Distance     19714 non-null  float64
 10  Date         34404 non-null  object
 11  Year         34404 non-null  int64
 12  Month        34404 non-null  int64
 13  Julian_Date  34404 non-null  int64
 14  Julian_Day   34404 non-null  int64
 15  Time         34080 non-null  object
 16  Lat_Dec      34404 non-null  float64
 17  Lat_Deg      34404 non-null  int64
 18  Lat_Min      34404 non-null  float64
 19  Lat_Hem      34404 non-null  object
 20  Lon_Dec      34404 non-null  float64
 21  Lon_Deg      34404 non-null  int64
 22  Lon_Min      34404 non-null  float64
 23  Lon_Hem      34404 non-null  object
 24  Rpt_Line     34404 non-null  float64
 25  St_Line      34404 non-null  float64
 26  Ac_Line      34404 non-null  float64
 27  Rpt_Sta      34404 non-null  float64
 28  St_Station   34404 non-null  float64
 29  Ac_Sta       34404 non-null  float64
 30  Bottom_D     32123 non-null  float64
 31  Secchi       5263 non-null   float64
 32  ForelU       2077 non-null   float64
 33  Ship_Name    32714 non-null  object
 34  Ship_Code    34404 non-null  object
 35  Data_Type    34404 non-null  object
 36  Order_Occ    9954 non-null   float64
 37  Event_Num    34401 non-null  float64
 38  Cruz_Leg     1464 non-null   float64
 39  Orig_Sta_ID  34404 non-null  object
 40  Data_Or      18275 non-null  object
 41  Cruz_Num     34404 non-null  object
 42  IntChl       12203 non-null  float64
 43  IntC14       2129 non-null   float64
 44  Inc_Str      2133 non-null   object
 45  Inc_End      2133 non-null   object
 46  PST_LAN      2117 non-null   object
 47  Civil_T      2116 non-null   object
 48  TimeZone     4782 non-null   float64
 49  Wave_Dir     12558 non-null  float64
 50  Wave_Ht      12098 non-null  float64
 51  Wave_Prd     11634 non-null  float64
 52  Wind_Dir     32928 non-null  float64
 53  Wind_Spd     32725 non-null  float64
 54  Barometer    19063 non-null  float64
 55  Dry_T        19071 non-null  float64
 56  Wet_T        18989 non-null  float64
 57  Wea          26807 non-null  float64
 58  Cloud_Typ    9920 non-null   float64
 59  Cloud_Amt    11882 non-null  float64
 60  Visibility   9507 non-null   float64
dtypes: float64(32), int64(11), object(18)
memory usage: 16.0+ MB